{% extends 'back.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ 'form.save'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('back_article_index') }}">back to list</a>

    <a href="{{ path('back_article_delete', {'id': article.id, '_token': csrf_token('delete' ~ article.id)}) }}">delete</a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
{% endblock %}
